plant_watering.json
[{"id":"75a9e39e.d3dd7c","type":"tab","label":"Plant Watering System ","disabled":false,"info":""},{"id":"caa5e45c.e53088","type":"ui_gauge","z":"75a9e39e.d3dd7c","name":"Temp","group":"d9e31d27.df483","order":2,"width":"3","height":"3","gtype":"gage","title":"Temp","label":"","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":870,"y":200,"wires":[]},{"id":"f9e2181d.d07008","type":"inject","z":"75a9e39e.d3dd7c","name":"Trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":200,"y":340,"wires":[["fa4da005.c05e7"]]},{"id":"fa4da005.c05e7","type":"http request","z":"75a9e39e.d3dd7c","name":"Get Senor Data","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://0.0.0.0/soil_sensor","tls":"","persist":false,"proxy":"","authType":"","x":400,"y":340,"wires":[["91f8df7f.03f59","d5feee29.ecdb7","71f1b913.be9728"]]},{"id":"d5feee29.ecdb7","type":"function","z":"75a9e39e.d3dd7c","name":"Temp","func":"\nmsg.payload = JSON.stringify(msg.payload.temp);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":200,"wires":[["caa5e45c.e53088"]]},{"id":"91f8df7f.03f59","type":"debug","z":"75a9e39e.d3dd7c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":280,"wires":[]},{"id":"43549006.d700f","type":"ui_gauge","z":"75a9e39e.d3dd7c","name":"Moisture","group":"d9e31d27.df483","order":2,"width":"3","height":"3","gtype":"wave","title":"Water Level","label":"","format":"{{value}}","min":"200","max":"2000","colors":["#ca3838","#00b500","#ca3838"],"seg1":"600","seg2":"700","x":880,"y":340,"wires":[]},{"id":"71f1b913.be9728","type":"function","z":"75a9e39e.d3dd7c","name":"Moisture","func":"\nmsg.payload = JSON.stringify(msg.payload.moisture);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":340,"wires":[["43549006.d700f","e3d82965.87ca18"]]},{"id":"4baebf5b.d1542","type":"rpi-gpio out","z":"75a9e39e.d3dd7c","name":"Pump","pin":"7","set":true,"level":"0","freq":"","out":"out","x":1330,"y":580,"wires":[]},{"id":"e08c2d8a.a5e3f","type":"ui_button","z":"75a9e39e.d3dd7c","name":"","group":"d9e31d27.df483","order":3,"width":0,"height":0,"passthru":true,"label":"Water Once","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1050,"y":460,"wires":[["d047abed.7014f8"]]},{"id":"d047abed.7014f8","type":"trigger","z":"75a9e39e.d3dd7c","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"2","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1220,"y":460,"wires":[["4baebf5b.d1542"]]},{"id":"b4de3850.6e43d8","type":"switch","z":"75a9e39e.d3dd7c","name":"Water?","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"625","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":880,"y":460,"wires":[["e08c2d8a.a5e3f"]]},{"id":"e3d82965.87ca18","type":"change","z":"75a9e39e.d3dd7c","name":"Convert to Num","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":460,"wires":[["b4de3850.6e43d8"]]},{"id":"d9e31d27.df483","type":"ui_group","name":"Plant Watering","tab":"2c56c8e6.e48668","order":1,"disp":false,"width":"6","collapse":false},{"id":"2c56c8e6.e48668","type":"ui_tab","name":"Plant Watering ","icon":"fa-shower","disabled":false,"hidden":false}]